<div class="center-top">
    <div><a class="title" href="/">Fernanda Reis</a></div>
    <div><a class="subtitle" href="/">Fotógrafa</a></div>

</div>

<div class="menu">
    <a class="menu-itens" href="/">Home</a>
    <a class="menu-itens" href="/pt/criancasefamilia">Crianças e Família</a>
    <a class="menu-itens" href="/pt/casais">Casais</a>
    <a class="menu-itens" href="/pt/retratos">Retratos</a>
    <a class="menu-itens" href="/pt/paisagens">Paisagens</a>
    <a class="menu-itens" href="/pt/fotosemberlim">Fotos em Berlim</a>
    <a class="menu-itens" href="/pt/contato">Contato</a>
    <a class="menu-itens actual-page" href="/pt/sobre">Sobre</a>
    <a class="menu-itens idioma" href="/">EN</a>
    <div class="menu-itens idioma">/</div>
    <a class="menu-itens idioma actual-page" href="/pt">PT</a>
</div>

<div class="aboutFernanda">
    <img class="fernanda" src="/fernanda-profile.jpg" alt="">
    <div class="text-aboutFernanda">Fernanda é kgerkcoikuriuhuagjj njfsfewfnkfekxmkn njnekjxnekexnkn jnencejcjncefjw jnenjewewjejweaknfxjnzka xrknerknrje nrjenç</div>
</div>


<div class="footer">
    <div class="social-medias-about">
        <img class="instagram" src="/instagram.png">
        <img class="facebook" src="/facebook.png">
    </div>
    <div class="text-footer-about">Todas as fotos © 2010-2018 Fernanda Reis. Todos os direitos reservados.</div>
</div>

<script src="/script.js" type="text/javascript" charset="utf-8"></script>
