<div class="container">
    <div class="white-background">
        <div class="white-background-inlet"></div>
        <div class="close">&times;</div>
    </div>
    <div class="center-top">
        <div><a class="title" href="/">Fernanda Reis</a></div>
        <div><a class="subtitle" href="/">Photographer</a></div>
    </div>

<div class="menu">
    <a class="menu-itens" href="/">Overview</a>
    <a class="menu-itens" href="/portraits">Portraits</a>
    <a class="menu-itens" href="/kidsandfamily">Kids and Family</a>
    <a class="menu-itens" href="/couples">Couples</a>
    <a class="menu-itens" href="/landscapes">Landscapes</a>
    <a class="menu-itens" href="/fotosemberlim">Fotos em Berlim</a>
    <a class="menu-itens" href="/contact">Contact</a>
    <a class="menu-itens actual-page" href="/about">About</a>
    <a class="menu-itens idioma actual-page" href="/">EN</a>
    <div class="menu-itens idioma">/</div>
    <a class="menu-itens idioma" href="/pt">PT</a>
</div>


<div class="aboutFernanda">
    <img class="fernanda" src="/fernanda-profile.jpg" alt="">
    <div class="text-aboutFernanda">Fernanda é kgerkcoikuriuhuagjj njfsfewfnkfekxmkn njnekjxnekexnkn jnencejcjncefjw jnenjewewjejweaknfxjnzka xrknerknrje nrjenç</div>
</div>


<div class="footer">
    <div class="social-medias-about">
        <img class="instagram" src="/instagram.png">
        <img class="facebook" src="/facebook.png">
    </div>
    <div class="text-footer-about">All Images © 2010-2018 Fernanda Reis. All rights reserved.</div>
</div>
</div>
</div>

<script src="/script.js" type="text/javascript" charset="utf-8"></script>
