<div class="container">
        <div class="white-background">
            <div class="white-background-inlet"></div>
            <div class="close">&times;</div>
        </div>
        <div class="center-top">
            <div><a class="title" href="/pt">Fernanda Reis</a></div>
            <div><a class="subtitle" href="/pt">Fotógrafa</a></div>
        </div>

        <div class="menu">
            <a class="menu-itens" href="/">Home</a>
            <a class="menu-itens" href="/pt/criancasefamilia">Crianças e Família</a>
            <a class="menu-itens" href="/pt/casais">Casais</a>
            <a class="menu-itens" href="/pt/retratos">Retratos</a>
            <a class="menu-itens" href="/pt/paisagens">Paisagens</a>
            <a class="menu-itens actual-page" href="/pt/fotosemberlim">Fotos em Berlim</a>
            <a class="menu-itens" href="/pt/contato">Contato</a>
            <a class="menu-itens" href="/pt/sobre">Sobre</a>
            <a class="menu-itens idioma" href="/">EN</a>
            <div class="menu-itens idioma">/</div>
            <a class="menu-itens idioma actual-page" href="/pt">PT</a>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>

        <div id="pictures-bottom-first">
            <div><img class="picture-bottom" src="/fernanda.png"></div>
            <div><img class="picture-bottom" src="/fernanda2.png"></div>
            <div><img class="picture-bottom" src="/fernanda3.png"></div>
        </div>



        <div class="footer">
            <div class="text-footer">All Images © 2010-2018 Fernanda Reis. All rights reserved.</div>
            <div class="social-medias">
                <img class="instagram" src="/instagram.png">
                <img class="facebook" src="/facebook.png">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js" type="text/javascript" charset="utf-8"></script>
    <script src="/script2.js" type="text/javascript" charset="utf-8"></script>
