<div class="center-top">
    <div><a class="title" href="/">Fernanda Reis</a></div>
    <div><a class="subtitle" href="/">Fotógrafa</a></div>

</div>

<div class="menu">
    <a class="menu-itens" href="/">Home</a>
    <a class="menu-itens" href="/pt/criancasefamilia">Crianças e Família</a>
    <a class="menu-itens" href="/pt/casais">Casais</a>
    <a class="menu-itens" href="/pt/retratos">Retratos</a>
    <a class="menu-itens" href="/pt/paisagens">Paisagens</a>
    <a class="menu-itens" href="/pt/fotosemberlim">Fotos em Berlim</a>
    <a class="menu-itens actual-page" href="/pt/contato">Contato</a>
    <a class="menu-itens" href="/pt/sobre">Sobre</a>
    <a class="menu-itens idioma" href="/">EN</a>
    <div class="menu-itens idioma">/</div>
    <a class="menu-itens idioma actual-page" href="/pt">PT</a>
</div>





<div class="footer">
    <div class="text-footer">Todas as fotos © 2010-2018 Fernanda Reis. Todos os direitos reservados.</div>
    <div class="social-medias">
        <img class="instagram" src="/instagram.png">
        <img class="facebook" src="/facebook.png">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/script.js" type="text/javascript" charset="utf-8"></script>
<script src="/script2.js" type="text/javascript" charset="utf-8"></script>
